/* HTML Overrides */

html { height: 100%; }

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

	/*! background-color: #FFF; */
	color: #000;
	}

a:link,
 a:visited,
 a:active { color: #03c; }

a.dg { color: #333 !important; }
a.noul { text-decoration: none; }

code {
	font-family: Courier, "Courier New", monospace;
	font-size: 12px;
	}

img { border: none; }

dt {
	padding-bottom: 5px;
	font-weight: bold;
	}

dd { padding-bottom: 15px; }

emphasis { font-style: italic; }

form {
 padding: 0;
 margin: 0;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin-top: 5px;
	margin-bottom: 3px;
	font-weight: bold;
	color: #000;
	}

h1 { font-size: 19px; }

h1.leftNavNoContent { margin-bottom: 8px; }

h2 { font-size: 16px; }

h3 { font-size: 14px; }

h4 { font-size: 12px; }

h5 { font-size: 10px; }

h6 { font-size: 10px; }

hr {
	height: 1px;
	margin-top: 12px;
	border: 0;
	border-top: 1px dashed #999;
	}






/* Common Elements */

.standardText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	}
.normalText { font-size: 12px; }
.smallText { font-size: 11px; }
.xsmallText { font-size: 10px; }
.xxsmallText { font-size: 9px; }
.largeText { font-size: 14px; }
.xlargeText { font-size: 16px; }
.xxlargeText { font-size: 19px; }
.xxxlargeText { font-size: 21px; }

.grayText { color: #666; }
.dgText { color: #333; }

.smgrayText {
 font-size: 11px;
 color: #666;
 }

.smdgText {
 font-size: 11px;
 color: #333;
 }

.label {
 font-weight: bold;
 color: #333;
 }

.standardLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	}

.smallLabel {
	font-size: 11px;
	font-weight: bold;
	color: #333;
	}

.xsmallLabel {
	font-size: 10px;
	font-weight: bold;
	color: #333;
	}

.largeLabel {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	}

.headerTitle {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	}

.headerTitleLite {
	font-size: 13px;
	font-weight: bold;
	color: #333;
	}

.headerTitleRight {
	float: right;
	padding: 1px 5px 0 0;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	}

.headerTitleCenter {
	padding: 1px 5px 0 0;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	}

.eLink {
	text-decoration: none;
	border-bottom: 1px dotted #03c;
	}

.000C { color: #000; }
.cccC { color: #ccc; }
.fffC { color: #fff; }
.cccBG { background: #ccc; }
.dddBG { background: #ddd; }
.eeeBG { background: #eee; }
.fffBG { background: #fff; }

.marB0 { margin-bottom: 0; }
.marB3 { margin-bottom: 3px; }
.marB5 { margin-bottom: 5px; }
.marB10 { margin-bottom: 10px; }
.marB15 { margin-bottom: 15px; }
.marL15 { margin-left: 15px; }
.marR6 { margin-right: 6px; }
.marR15 { margin-right: 15px; }
.marT0 { margin-top: 0; }
.marT3 { margin-top: 3px; }
.marT4 { margin-top: 4px; }
.marT5 { margin-top: 5px; }
.marT10 { margin-top: 10px; }
.marT15 { margin-top: 15px; }
.marL20 { margin-left: 20px; }
.mar38L { margin-left: 38px; }
.marL20 { margin-left: 20px; }

.padT3 { padding-top: 3px; }
.padT5 { padding-top: 5px; }
.padT10 { padding-top: 10px; }
.padT15 { padding-top: 15px; }
.padT20 { padding-top: 20px; }
.padB10 { padding-bottom: 10px; }
.padB5 { padding-bottom: 5px; }
.padL25 { padding-left: 25px; }
.padL50 { padding-left: 50px; }
.padR15 { padding-right: 15px; }

.clear { clear: both; }
.clearL { clear: left; }
.clearR { clear: right; }

.spacer {
 height: 1px;
 clear: both;
 font-size: 1px;
 }

.alignMid { vertical-align: middle; }
.alignTop { vertical-align: top; }
.alignBot { vertical-align: bottom; }
.alignR { text-align: right; }
.alignL { text-align: left; }
.alignC { text-align: center; }

.floatL { float: left; }
.floatR { float: right; }
 .w120 { width: 117px; }

/* the following better align the label with field cells that have
non-textfields or textfields preceded by text (e.g. Contest Name URL
on the contest page) */
.topPad7 { padding-top: 7px; }
.topPad5 { padding-top: 5px; }
.topPad2 { margin-top: 2px; }
.topMar10 { margin-top: 10px; }
.topMar5 { margin-top: 5px; }
.topMar2 { margin-top: 2px; }

.required { color: #f00; }

.rating {
	font-size: 11px;

/*
	margin-top: 3px;
	font-size: 11px;
	height: 14px;
*/
	}

.confirmBox {
	padding: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
	color: #006;
	text-align: center;
	border: 3px solid #666;
	}

.errorBox {
	padding: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
	color: #c00;
	text-align: center;
	border: 3px solid #c00;
	}

.codeBox {
	padding: 8px;
	margin-bottom: 15px;
	background-color: #eee;
	border: 1px solid #999;
	}

.headerBox {
	padding: 3px 5px;
	background-color: #ccc;
	border: 1px solid #ccc;
	}

.headerRCBox { }
.headerRCBox .rch { display: block; }

.headerRCBox .rch * {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #ccc;
	}

.headerRCBox .rch1 {
	padding-right: 1px;
	padding-left: 1px;
	margin-right: 3px;
	margin-left: 3px;
	background: #d9d9d9; /* rch5 */
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	}

.headerRCBox .rch2 {
	padding: 0 1px;
	margin: 0 1px;
	background: #d6d6d6; /* rch3 */
	border-right: 1px solid #fafafa;
	border-left: 1px solid #fafafa;
	}

.headerRCBox .rch3 {
	margin: 0 1px;
	border-right: 1px solid #d6d6d6;
	border-left: 1px solid #d6d6d6;
	}

.headerRCBox .rch4 {
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	}

.headerRCBox .rch5 {
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	}

.headerRCBox .content {
	padding: 0 6px 2px;
	background: #ccc;
	}

.headerHighlight {
	display: block;
	}

.headerHighlight * {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #fc0;
	}

.headerHighlight1 {
	padding-right: 1px;
	padding-left: 1px;
	margin-right: 3px;
	margin-left: 3px;
	background: #ffd83f;
	border-right: 1px solid #ffe991;
	border-left: 1px solid #ffe991;
	}

.headerHighlight2 {
	padding: 0 1px;
	margin: 0 1px;
	background: #ffd530;
	border-right: 1px solid #fff9e5;
	border-left: 1px solid #fff9e5;
	}

.headerHighlight3 {
	margin: 0 1px;
	border-right: 1px solid #ffd530;
	border-left: 1px solid #ffd530;
	}

.headerHighlight4 {
	border-right: 1px solid #ffe991;
	border-left: 1px solid #ffe991;
	}

.headerHighlight5 {
	border-right: 1px solid #ffd83f;
	border-left: 1px solid #ffd83f;
	}

.headerHighlight_content {
	padding: 0 6px 2px;
	background: #fc0;
	}

.footerBox {
	margin-top: 0;
	margin-bottom: 15px;
	background-color: #ccc;
	}

.contentBox {
	padding: 6px;
	border: 1px solid #ccc;
	}

.highlightBox {
	padding: 6px;
	background-color: #ffc;
	border: 1px solid #fc3;
	}

.lowlightBox {
	padding: 6px;
	text-align: left;
	background-color: #bbb;
	border: 1px solid #333;
	}

.lowlightBox div.head {
	margin-left: 6px;
	font-weight: bold;
}

.boxdates {
	padding: 3px;
	margin: 3px;
	font-size: 90%;
	}

.boxdates.hi {
	background-color: #ddd;
	}

.attentionBox {
	padding: 6px;
	font-weight: bold;
	text-align: center;
	background-color: #ffc;
	border: 1px solid #fc3;
	}

.spOffersDiv {
	margin-top: 18px;
	line-height: 16px;
	}
.spOffersEntry { margin-bottom: 10px; }

.hid { display: none; }

.extraVertSpaceReg { padding-top: 8px; }

.hand {
	cursor: pointer;
	cursor: hand;
	}







/* Common Layout Elements */

#sidebarRight245 {
	float: right;
	width: 245px;
	margin-bottom: 9px;
	margin-left: 15px;
	}

#sidebarRight305 {
	float: right;
	width: 305px;
	margin-bottom: 9px;
	margin-left: 10px;
	}

#mainContent {
 width: 700px;
 margin-right: 12px;
 }

#sideContent {
 float: right;
 width: 160px;
 padding-top: 2px;
 }

#sideAd {
 float: right;
 width: 160px;
 padding-top: 6px;
 }

#sideNav {
 float: left;
 width: 150px;
 }
#sideNav .body { }

#sideNav .navHead {
	padding: 8px 0 1px;
	font-size: 14px;
	font-weight: bold;
	}
#sideNav .navBody { padding-bottom: 10px; }

#sideNav .navBody12 {
	padding-bottom: 10px;
	font-size: 12px;
	line-height: 18px;
	}

#sideNav .navBody11 {
	padding-bottom: 10px;
	font-size: 11px;
	line-height: 15px;
	}
#sideNav .navButton { padding-bottom: 4px; }

#sideNav #bottomAdDiv {
 padding: 20px 0;
 text-align: center;
 }

#mainContentWithNav {
	width: 545px; /* this should be 550, but IE6 doesn't like it */
	margin-left: 150px;
	}

#leaderboardAd {
	height: 90px;
	padding-bottom: 15px;
	text-align: center;
	}

#manageNav {
	width: 150px;
	vertical-align: top;
	}

#manageNav ul {
	padding: 0;
	margin: 0;
	}

#manageNav li {
	padding: 5px;
	margin: 0;
	font-weight: bold;
	list-style: none;
	}
#manageNav .selected { background: #ccc; }

#manageContent {
	vertical-align: top;
	border: 3px solid #ccc;
	}

#manageContent .controls {
	padding: 4px;
	background: #ccc;
	}

#manageContent .pager {
	padding: 4px;
	text-align: right;
	}

#manageContent .empty {
	padding: 24px 0;
	text-align: center;
	}

#sectionHeader {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #999;
	}
#sectionHeader .my { float: right; }

#sectionHeader .name {
	float: left;
	width: 150px;
	font-size: 21px;
	font-weight: bold;
	}

#sectionHeader .title {
	font-size: 16px;
	font-weight: bold;
	line-height: 34px;
	}






/* Masthead Elements */

#baseDiv {
	position: relative;
	width: 875px;
	margin-right: auto;
	margin-left: auto;
	}

#logoTagDiv {
 float: left;
  padding-top: 6px;
 }

#logoHomeTip {
	position: absolute;
	top: 25px;
	left: 130px;
	display: none;
	font-size: 11px;
	color: #666;
	}

#utilDiv {
	height: 13px;
	padding-bottom: 12px;
	text-align: right;
	}

.utilDelim {
 padding-right: 3px;
 padding-left: 3px;
 }

#iconMail {
	padding: 1px 0;
	vertical-align: text-bottom;
	}

#searchDiv {
	padding-bottom: 8px;
	text-align: right;
	}

.searchField {
	width: 250px;
	font-size: 12px;
	color: #000;
	}

#gNavDiv {
 height: 28px;
 text-align: right;
 }

#gNavDiv #upload {
 float: right;
 width: 220px;
 }

#gNavDiv .tab {
 float: right;
 width: 124px;
 border: 0 #333 solid;
 }

#gSubNavDiv {
	padding: 8px 0;
	margin-bottom: 10px;
	clear: both;
	text-align: center;
	background: #ddd;
	}

#gNavBottom {
	height: 24px;
	margin-bottom: 6px;
	background: #ddd url(/web/20070131215327im_/http://www.youtube.com/img/pic_globalnav_gradation_875x24.png) top left no-repeat;
	}

#gSubNavDiv {
	padding: 8px 0;
	margin-bottom: 10px;
	clear: both;
	text-align: center;
	background: #ddd;
	}

#accountQuickLinks {
 font-size: 11px;
 text-align: right;
 }






/* Footer Elements */

#footerDiv {
	width: 875px;
	padding-bottom: 12px;
	margin-top: 12px;
	clear: both;
	font-size: 11px;
	}

#footContent {
	padding: 8px 0;
	background: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}

#footCopyright {
 padding-top: 12px;
 text-align: center;
 }

#footBotDiv {
 height: 50px;
 line-height: 15px;
 }

#footTopDiv {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #ccc;
	}
#footPromoAssetRight { float: right; }
#footPromoTextRight { font-weight: bold; }

.footColumnLeft {
	width: 215px;
	padding-left: 10px;
	margin-right: 20px;
	border-right: 1px solid #ccc;
	}

.footColumnMid {
	width: 295px;
	margin-right: 20px;
	border-right: 1px solid #ccc;
	}
.footColumnRight { padding-right: 10px; }

.footLabel {
	font-size: 11px;
	font-weight: bold;
	color: #333;
	}

.footValues {
	height: 30px;
	padding-bottom: 6px;
	margin-left: 0;
	font-size: 11px;
	}

.footValues .column {
 float: left;
 margin-right: 20px;
 }



/* Local Subnav Elements */
#subnavContent { width: 670px; }

#subnavSidebar {
	float: right;
	width: 185px;
	padding: 0;
	margin-top: 0;
	margin-left: 15px;
	background-color: #eee;
	border: 1px solid #ccc;
	}

.navItem {
	padding: 6px;
	margin: 0;
	font-weight: bold;
	list-style: none;
	border-bottom: 1px dashed #999;
	}

.navItemHighlight {
	padding: 6px;
	font-weight: bold;
	list-style: none;
	background-color: #bce;
	border-bottom: 1px dashed #999;
	}

.sidebarLinks {
	margin-top: 3px;
	margin-bottom: 3px;
	}







/* htmlForm Elements */

.dataEntryTable { width: 650px; }

.formLabel {
	width: 200px;
	font-weight: bold;
	text-align: right;
	}

.formImg {
	padding-right: 2px;
	vertical-align: middle;
	}

#contestOwnerInfo {
	margin-top: 20px;
	font-size: 95%;
}

#contestOwnerInfo form {
	width: 120px;
	margin: 0 0 20px;
	text-align: center;
}

#contestVoted {
	margin: 20px 0 0 5px;
}
.formField { width: 450px; }

.dataEntryTableSmall { width: 400px; }

.formLabelSmall {
	width: 125px;
	font-weight: bold;
	text-align: right;
	}

.formFieldSmall { width: 275px; }

.formHighlight {
	padding: 9px;
	margin-bottom: 5px;
	background-color: #bce;
	background-position: left top;
	border: 1px dashed #006;
	}

.defaultTextarea {
	width: 400px;
	height: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.contestAddForm {
	float: right;
	width: 130px;
	padding: 3px 0;
	margin: 0;
	text-align: center;
}
#contestVidHead { width: 680px; }
#contestVids { width: 680px; }
#contestFooterInfo { line-height: 1.3em; }

.thumbArrowL {
	width: 40px;
	padding: 10px 0;
}

.thumbArrowR {
	padding: 10px 0;
}

.contestThumb {
	width: 100px;
	height: 180px;
	padding: 10px 5px;
	overflow: auto;
	text-align: center;
	vertical-align: top;
}

.thumbInfo {
	padding: 3px 0 0 5px;
	text-align: left;
}

.thumbHilite {
	border: 2px #fc3 solid;
}






/* Video Display Elements */

.vGridBox {
	padding: 6px;
	background: #eee;
	border: 1px solid #ccc;
	}

.vListBox {
	padding: 0 6px;
	background: #eee;
	border: 1px solid #ccc;
	}

.vimg {
	width: 130px;
	height: 100px;
	border: 1px solid #ccc;
	}

.vimgSm {
	width: 90px;
	height: 70px;
	border: 1px solid #ccc;
	}

.vimg130 {
	width: 130px;
	height: 100px;
	border: 1px solid #ccc;
	}

.vimg120 {
	width: 120px;
	height: 90px;
	border: 1px solid #ccc;
	}

.vimg110 {
	width: 110px;
	height: 82px;
	border: 1px solid #ccc;
	}

.vimg100 {
	width: 100px;
	height: 75px;
	border: 1px solid #ccc;
	}

.vimg90 {
	width: 90px;
	height: 70px;
	border: 1px solid #ccc;
	}

.vimg80 {
	width: 80px;
	height: 60px;
	border: 1px solid #ccc;
	}

.vimg60 {
	width: 60px;
	height: 45px;
	border: 1px solid #ccc;
	}

.vimg50 {
	width: 50px;
	height: 38px;
	border: 1px solid #ccc;
	}

.addtoQL {
	position: relative;
	top: 71px;
	left: 1px;
	width: 20px;
	}

.addtoQLIE {
	position: relative;
	top: 74px;
	left: 1px;
	width: 20px;
	}

.addtoQLRelated {
	width: 20px;
	margin-top: -26px;
	margin-left: 1px;
	}

.addtoQLRelatedIE {
	width: 20px;
	margin-top: -29px;
	margin-left: 1px;
	}

img.rating {
	padding: 0;
	margin: 0;
	vertical-align: middle;
	border: 0;
	}

.runtime {
	font-size: 11px;
	font-weight: bold;
	color: #000;
	}

.title {
	font-size: 12px;
	font-weight: bold;
	}

.desc {
	margin: 3px 0;
	font-size: 12px;
	}

.facets {
	margin-top: 2px;
	margin-bottom: 3px;
	font-size: 11px;
	line-height: 13px;
	}

.vstill { margin-bottom: 2px; }

.vtitle { font-weight: bold; }

.vdesc { margin: 3px 0; }

.vfacets {
	margin: 3px 0;
	font-size: 11px;
	line-height: 13px;
	}

.vruntime {
	font-size: 11px;
	font-weight: bold;
	color: #000;
	}

.vtagLabel { float: left; }

.vtagValue {
	margin-bottom: 3px;
	margin-left: 35px;
	}

.vTable {
	padding: 0;
	border-spacing: 0;
	}
.vTable td { vertical-align: top; }
.vTable .vinfo { padding-left: 8px; }

.vDirectorBox { width: 100px; }

.vEntry {
	padding: 10px 0;
	border-bottom: 1px dashed #999;
	}

.vDetailEntry {
	padding: 8px 0;
	clear: left;
	border-bottom: 1px dashed #999;
	}

.vDetailEntry table {
	padding: 0;
	border-spacing: 0;
	}
.vDetailEntry td { vertical-align: top; }

.vDetailEntry .image { margin-right: 12px; }

.vDetailEntry .tagLabel { float: left; }

.vDetailEntry .tagValue {
	margin-bottom: 3px;
	margin-left: 35px;
	}

.vDetailEntry .tagTable {
	padding: 0;
	margin-bottom: 3px;
	border-spacing: 0;
	}

.vDetailEntry .tagTable td {
	font-size: 11px;
	vertical-align: top;
	}

.vBriefEntry {
	width: 130px;
	padding: 3px;
	margin-bottom: 6px;
	}

.vBriefEntry .img { margin-bottom: 4px; }

.vMicroEntry {
	width: 90px;
	margin-right: 15px;
	margin-bottom: 6px;
	}
.vMicroEntry img { margin-bottom: 4px; }

.v120vEntry {
 width: 120px;
 margin-bottom: 10px;
 }
.v120vEntry .vstill { margin-bottom: 4px; }

.v120vEntry .vimg {
 width: 120px;
 height: 90px;
 border: 1px solid #ccc;
 }

.v90vEntry {
 width: 90px;
 margin-bottom: 6px;
 }
.v90vEntry .vstill { margin-bottom: 2px; }
.v90vEntry .vtitle { font-weight: bold; }

.v90vEntry .vimg {
 width: 90px;
 height: 70px;
 border: 1px solid #ccc;
 }

.v80vEntry {
 width: 80px;
 margin-bottom: 6px;
 }
.v80vEntry .vstill { margin-bottom: 2px; }
.v80vEntry .vtitle { font-weight: bold; }

.v80vEntry .vimg {
 width: 80px;
 height: 60px;
 border: 1px solid #ccc;
 }

.v120hEntry { clear: left; }
.v120hEntry .vstill { float: left; }
.v120hEntry .vinfo { margin-left: 130px; }

.v90hEntry { clear: left; }
.v90hEntry .vstill { float: left; }

.v90hEntry .vimg {
 width: 90px;
 height: 70px;
 border: 1px solid #ccc;
 }
.v90hEntry .vinfo { margin-left: 96px; }

.v80hEntry { clear: left; }
.v80hEntry .vstill { float: left; }

.v80hEntry .vimg {
 width: 80px;
 height: 60px;
 border: 1px solid #ccc;
 }
.v80hEntry .vinfo { margin-left: 86px; }

.v50hEntry { clear: left; }
.v50hEntry .vstill { float: left; }

.v50hEntry .vimg {
 width: 50px;
 height: 38px;
 border: 1px solid #ccc;
 }
.v50hEntry .vinfo { margin-left: 56px; }

.vimgFaded {
	width: 120px;
	height: 90px;
	filter: alpha(opacity=30);
	border: 1px solid #ccc;
	-moz-opacity: 0.3;
	opacity: 0.3;
}

.playlistHeading {
	float: left;
	width: 320px;
	margin-bottom: 8px;
	margin-left: 5px;
}






/* Homepage Elements */

#hpMainContent {
	float: left;
	width: 555px;
	}

#hpSideContent {
	float: right;
	width: 300px;
	}

.hpContentBlock { margin-bottom: 15px; }
.hpSideBlock { margin-bottom: 15px; }

#hpSVidHeader {
	margin-bottom: 6px;
	font-size: 12px;
	font-weight: bold;
	color: #999;
	}

#hpSVidAboutLink {
 float: right;
 font-size: 11px;
 }

.hpSVidEntry {
	float: left;
	width: 19%;
	padding: 0 3px;
	text-align: center;
	}

#hpSubsBoxTop {
	padding: 0 8px;
	padding-bottom: 2px;
	background: #eee;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	}

#hpSubsBox {
	padding-left: 8px;
	background: #eee;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	}

#hpSubsBlock {
	margin-top: 6px;
	border-top: 1px dashed #999;
	}
#hpSubsHeader { padding: 5px 0; }

#hpSubsTable {
	width: 100%;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	}
#hpSubsTable td { vertical-align: top; }
#hpSubsTable td.next { vertical-align: middle; }

.hpSubsHeading {
	margin-bottom: 2px;
	font-size: 13px;
	font-weight: bold;
	}

.hpSubsEntry {
	width: 90px;
	font-size: 11px;
	}

.hpStatsEntry { margin-top: 8px; }

.hpStatsHeading {
	margin-bottom: 2px;
	font-size: 13px;
	font-weight: bold;
	}

.hpAboutTable { width: 100%; }
.hpAboutTable td { vertical-align: top; }

.hpAboutTable td.label {
 font-size: 14px;
 font-weight: bold;
 }
.hpAboutTable td.desc { padding-bottom: 8px; }

.hpLoginField { width: 170px; }
.hpLoginForgot { padding-top: 10px; }

.hpChannelEntry { margin-bottom: 5px; }
.hpGroupEntry { margin-bottom: 5px; }

#hpEmbedTopCap {
 height: 35px;
 padding-bottom: 1px;
 overflow: hidden;
 }
#hpEmbedVideo { }
#hpEmbedUnderBlock { padding-top: 5px; }
#hpEmbedRatingDiv { float: right; }
#hpEmbedInfoDiv {}

#hpAccountLinksDiv {
	width: 300px;
	height: 30px;
	margin-bottom: 10px;
	font-size: 11px;
	line-height: 30px;
	background: url(/img/pic_mycontrolpanel_300x30.png) top left no-repeat;
}

.hpWNentry { padding-top: 3px; }

.hpWNimage {
 float: left;
 width: 30px;
 height: 37px;
 margin-bottom: 12px;
 }

.hpWNdesc {
 margin-bottom: 12px;
 margin-left: 36px;
 }

#hpFeaturedHeading {
	float: left;
	width: 100%;
	padding: 10px 0 0 1px;
	border-bottom: 1px solid #ccc;
	}
#hpFeaturedList { }

#hpFeaturedMoreTop {
	float: right;
	padding-top: 4px;
	font-weight: bold;
	}

#hpFeaturedMoreBottom {
	padding-top: 8px;
	margin-bottom: 15px;
	font-weight: bold;
	text-align: right;
	}

.hpVfacetRight {
 float: right;
 padding-top: 1px;
 }

.hpVfacetLeft {
 float: left;
 padding: 1px 10px 0 0;
 }





/* Category Elements */

.catNameHeader {
	padding: 6px 0 4px;
	font-size: 16px;
	font-weight: bold;
	}
.catNameHeader a { text-decoration: none; }
.catNameHeader a:hover { text-decoration: underline; }
.catFeatureVidDiv { padding-bottom: 5px; }
.catMoreDiv { font-size: 11px; }

.catSearchDiv {
	padding: 6px;
	margin: 4px 0 12px;
	background: #eee;
	border: 1px solid #ccc;
	}

.catEntry {
	position: relative;
	width: 174px;
	height: 130px;
	margin-bottom: 24px;
	cursor: pointer;
	cursor: hand;
	}

.catHeading {
	margin-bottom: 6px;
	font-size: 13px;
	font-weight: bold;
	}

.catBox {
	height: 100px;
	padding: 8px 0 0 8px;
	background: url(/web/20070131215327im_/http://www.youtube.com/img/pic_catbox_174x100.gif) top left no-repeat;
	}
.catVEntry { height: 45px; }

.catVstill {
 float: left;
 padding-right: 4px;
 }

.catVtitle {
 font-size: 11px;
 font-weight: bold;
 }

.catVfrom {
 padding-top: 1px;
 font-size: 11px;
 color: #333;
 }

.catPrimaryVidDiv {
	float: left;
	width: 85px;
	height: 65px;
	margin-right: 6px;
	}

.catPriVstill {
 width: 85px;
 height: 65px;
 border: 0;
 }
.catSecondaryVidDiv { }

.catSecVstill {
	float: left;
	width: 21px;
	height: 16px;
	margin: 0 3px 3px 0;
	background: #ccc;
	}

.catSecVstill img {
	width: 21px;
	height: 16px;

}

.catMore {
	position: absolute;
	right: 8px;
	bottom: 16px;
	font-size: 11px;
	text-align: right;
	}

.catSearchDiv {
	padding: 6px;
	margin: 4px 0 12px;
	background: #eee;
	border: 1px solid #ccc;
	}








/* Community Elements */

.commEntry {
	padding-top: 6px;
	margin-bottom: 42px;
	}

.commHeading {
	margin-bottom: 4px;
	border-bottom: 1px solid #ddd;
	}

.commHeading .count {
	padding-left: 12px;
	color: #666;
	}

.commHeading .more {
	float: right;
	padding-top: 6px;
	font-size: 11px;
	font-weight: bold;
	}

.commCollegeDesc {
	font-size: 15px;
	line-height: 20px;
	}







/* Groups and Contests Elements */

#groupCommonHeader {
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px dashed #999;
	}
#groupStillDiv {}
#groupHeaderInfo {}

#groupName {
	font-size: 16px;
	font-weight: bold;
	}
#groupLinks { margin: 6px 0; }
#groupDesc {}

#groupOptionsDiv {
	float: right;
	margin-left: 10px;
	line-height: 15px;
	}
#groupFlagAsDiv { padding-top: 5px; }

#groupRecentVideosDiv { padding-top: 2px; }
#groupRecentTopicsDiv { padding: 12px 0 16px; }
#groupAboutGroupDiv { padding-bottom: 6px; }

.groupControlsTop {
	padding-bottom: 4px;
	text-align: right;
	}

.groupControlsBottom {
	padding-top: 4px;
	text-align: right;
	}

.groupEmpty { padding-left: 24px; }

#groupTopicTopEntry {
	/* border: 1px solid #9CF; */

	/*
	background: #FFC;
	border: 1px solid #FC3;
	*/
	padding: 6px;
	margin-bottom: 24px;
	background: #def;
	}
#groupTopicPostCommentDiv { padding: 10px 0; }

.brandedInfoBox {
	float: left;
	width: 680px;
	padding: 6px 0;
	margin-top: 10px;
	border-top: 1px dashed #999;
}

.brandedInfoMain {
	float: left;
	width: 340px;
}

.brandedStatBox {
	float: right;
	width: 285px;
	padding: 25px 0 0;
	font-size: 11px;
}

#contestHeadPic {
	width: 120px;
}

#contestEntryNumHead {
	width: 322px;
	margin: 5px 0 4px;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	}

.votingThumb {
	display: inline;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
}

.votingThumb right {
	float: right;
	margin-left: 5px;
}

#contestInteractDiv {
 width: 350px;
 margin-right: 15px;
 margin-bottom: 10px;
 }

#aboutExploreContestDiv {
 float: right;
 width: 325px;
 margin: 0;
 }

#contestVideoDesc { margin-top: 15px; }

#contestVoting {
 margin-top: 10px;
 text-align: left;
 }

#contestVoted { display: none; }

#contestArrowL {

}

#contestArrowR {

}

.cfacets {
	margin: 5px 0;
	font-size: 11px;
	line-height: 13px;
	}

.cruntime {
	font-size: 11px;
	color: #000;
	}

#contestTerms {
	position: absolute;
	left: 5px;
	z-index: 99;
	display: none;
	width: 655px;
	padding: 15px 15px 50px;
	margin: 5px 10px 0 0;
	background-color: #ddd;
	border: 2px #ccc solid;
}

#termsBox {
	width: 600px;
	height: 280px;
	padding: 5px;
	overflow: auto;
	text-align: left;
	background-color: #fff;
}







/* Signin Signup Elements */

#siSignupDiv {
	float: left;
	width: 420px;
	margin-bottom: 24px;
	}

#suSignupDiv {
	float: left;
	margin-bottom: 24px;
	background-color: #eee;
	}

#suInOrderToDiv {
	padding: 6px;
	margin: 6px 25%;
	font-weight: bold;
	background-color: #ffc;
	border: 1px solid #cc6;
	}

#suSigninDiv {
	float: right;
	width: 400px;
	}








/* Sharing Popup Element */
#set_of_links {
	position: relative;
	padding: 0;
	margin-bottom: 20px;
	background: #fff;
	border: none;
	}

#set_of_links a {
	display: inline;
	color: #03c;
	}

#set_of_links a:hover {
	color: #000;
	text-decoration: none;
	background: #ffc;
	}

#set_of_links a span { display: none; }

#set_of_links a:hover span {
	position: absolute;
	left: 0;
	display: inline;
	padding: 5px 15px 5px 0;
	background: #ffc;
	}







/* Channel Customization Code */

.dataEntryTableSm {
	width: 360px;
	margin-top: 5px;
	}

.formLabelLong {
	width: 210px;
	font-weight: bold;
	text-align: right;
	}

.formLabelSm {
	width: 200px;
	font-weight: bold;
	text-align: right;
	}

.formFieldShortSm { width: 180px; }
.formFieldShort { width: 327px; }

.customizationTable { width: 875px; }

.inputSize { width: 559px; }

tr.inputsizeSmall td {
	width: 22px;
	text-align: center;
}

tr.inputSizeMedium td {
	width: 537px;
	text-align: left;
}

tr.inputSizeSs td { width: 316px; }

.formTable { width: 537px; }

.profileSubLinks {
	color: $theme_obj.link_color;
}

#viewPublicChannel {
	float: right;
	padding: 6px 8px;

	/* margin-right: 10px; */
	margin-left: 12px;
	clear: right;
	font-weight: bold;

	/* background: #FFC; */
	border: 1px solid #999;
	}

.horizontalDisplayTable {
	width: 630px;
	margin-bottom: 15px;
	margin-left: 30px;
	}

tr.horizontalDisplayTable td {
	width: 90px;
	font-weight: bold;
	text-align: center;
	}






/* Bulletin code */

.displayTable { border: 1px solid #ccc; }

tr.displayTable td {
	padding-top: 4px;
	padding-bottom: 8px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.displayPostTable { border: 1px solid #ccc; }

tr.displayPostTable td {
	padding-top: 4px;
	padding-bottom: 8px;
}

.columnTitles {
	font-weight: bold;
	color: #000;
}

.imgBrdr {
	border: 2px solid #ccc;

}





/* Musician Forms Code */

.editDividerTable {
	width: 650px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
	}

.editDividerTableEnd {
	width: 650px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: none;
	}

.formLabelTiny {
	width: 100px;
	font-weight: bold;
	text-align: right;
}

.alertBoxSm {
	width: 420px;
	padding: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-align: left;
	border: 2px solid #c00;
	}

.descriptionTable {
	border: 1px solid #ccc;
	}

tr.descriptionTable td {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom: 1px solid #ccc;
}

tr.descriptionTableNB td {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}






/* QuickList Elements */
.quicklist_container {
	padding-top: 12px;
}

div.scroll {
	height: 206px;
	overflow: auto;
}

div.watchlist_videos {
	width: 448px;
	background-color: #f7f7f7;
	border: 1px #ddd solid;
}

.nextVideoRowDiv {
	width: 450px;
	height: 28px;
	background-color: #ddd;
}

.saveRowDiv {
	width: 450px;
	background-color: #ddd;
}

.quicklistActions {
	float: right;
	margin-top: 4px;
	margin-right: 8px;
}

.hideShowButton {
	float: right;
	margin-right: 3px;
}

.saveRowSetting {
	float: left;
	margin-top: 0;
}

.nextVideoDisplay {
	float: left;
	margin-top: 1px;
	margin-left: 3px;
}

.quicklistClickableArea {
	cursor: hand;
	cursor: pointer;
}








/* Ptch boxes - as seen on the post-signup page */
#pitchSection {
	margin: 10px 80px 10px 40px;
	font-size: 12px;
	color: #333;
}

#pitchDesc {
margin-left: 50px;
}

.pitchBox {
	width: 790px;
	height: 155px;
	padding: 10px 0 0 160px;
	margin: 10px 0;
}

#pitchSection #popularChannels {
	background: url(/web/20070131215327im_/http://www.youtube.com/img/pic_postsignup_picks_790x155.gif) top left no-repeat;
}

#pitchSection #partnerChannels {
	background: url(/web/20070131215327im_/http://www.youtube.com/img/pic_postsignup_partners_790x155.gif) top left no-repeat;
}

.pitchedItem {
	float: left;
	width: 135px;
	margin: 0 22px 0 0;
	text-align: left;
}

.pitchedItem img {
	display: block;
	margin: 2px 0 0 20px;
}

.pitchedItem .titleDiv {
	margin-left: 20px;
	text-indent: -20px;
}

.pitchedItem .title {
margin: 0;
font-weight: bold;
color: #000;
size: 11px;
}

.pitchedItem .info {
	display: block;
	margin: 2px 0 0 20px;
	font-size: 11px;
	color: #333;
}

.pitchedItem .info b {
	font-weight: normal;
	color: #000;
}

#pitchSkip {
	padding-bottom: 30px;
	margin-right: 20px;
	vertical-align: middle;
}

#pitchSubscribe {
	text-align: center;
}

#pitchButton {
}

#youtubeChannel {
	margin-bottom: 10px;
	color: #333;
}

#youtubeChannel #linetwo {
	margin-left: 22px;
}






/* Pagination Elements */

.pagingDiv {
	padding: 4px;
	font-weight: bold;
	text-align: right;
	background: #ccc;
	}

.pagingDivClear {
	padding: 3px;
	font-weight: bold;
	text-align: right;
	}

.pagingDivClearTop {
	padding: 3px;
	padding-top: 5px;
	font-weight: bold;
	text-align: right;
	}

.pagerCurrent {
	padding: 1px 3px;
	margin-right: 3px;
	color: #000;
	background-color: #fff;
	}

.pagerNotCurrent {
	padding: 1px 3px;
	margin-right: 3px;
	color: #03c;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
	}






/* My Account Elements */

#myaLeftCol {
 float: left;
 width: 360px;
 }

#myaRightCol {
 width: 360px;
 margin-left: 375px;
 }

.myAccountExplanatoryText {
	float: right;
	width: 150px;
	padding: 4px;
	margin-top: 6px;
	margin-right: 6px;
	color: #666;
	text-align: left;
}






/* Section Color Elements */

.videosColor { color: #000; }

/* .videosColor { color: #900; } */
.categoriesColor { color: #000; }

/* .categoriesColor { color: #333366; } */
.channelsColor { color: #000; }

/* .channelsColor { color: #006600; } */
.communityColor { color: #000; }

/* .communityColor { color: #C60; } */
.searchColor { color: #000; }

/* .searchColor { color: #333; } */




/* TestTube Elements */
#ttLeft {
 float: left;
 width: 475px;
 }

#ttLeft p {
 font-size: 14px;
 line-height: 20px;
 color: #333;
 }
#ttRight { margin-left: 500px; }




/*
     FILE ARCHIVED ON 21:53:27 Jan 31, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:13:20 Mar 19, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

/*
playback timings (ms):
  exclusion.robots.policy: 0.13
  CDXLines.iter: 26.603 (3)
  RedisCDXSource: 6.25
  captures_list: 190.215
  esindex: 0.009
  LoadShardBlock: 132.348 (3)
  PetaboxLoader3.resolve: 65.03
  PetaboxLoader3.datanode: 352.337 (4)
  exclusion.robots: 0.141
  load_resource: 323.436
*/
