#left,
.hd_float1,
.hd_menu {
 float:left
}
html {
 overflow-y:scroll
}
#mid,
#video_controls,
.comment,
.hd_top,
.uws,
.wrapper {
 overflow:hidden
}
body {
 font-family:Arial,Helvetica,sans-serif;
 margin:0;
 padding-top:0;
 background:#FFF;
 font-size:12px;
 color:#222;
 min-width:870px!important
}
.hd,
.wrapper {
 margin:0 auto
}
a {
 color:#03C
}
a img {
 border:0
}
.wrapper {
 width:865px
}
.videos_box_head,
.videos_box_in {
 border-bottom:1px dashed #999;
 overflow:hidden
}
textarea {
 resize:none
}
.hd {
 width:800px
}
.hd_top {
 position:relative;
 padding:0 5px
}
.hd_top img {
 float:left;
 margin:0 10px 5px 0
}
.hd_float1 .slogan {
 font-style:italic;
 margin:0 0 10px
}
.hd_float2 {
 position:absolute;
 top:0;
 right:5px;
 text-align:right
}
#mid,
.hd_menu,
.hd_menu .sel,
.hd_menu div,
.videos_range {
 position:relative
}
#left,
#right,
.big_links,
.footer,
.hd_nav,
.main,
.search_header,
.share_links,
.videos_box_sct,
.videos_selector {
 text-align:center
}
.hd_float2 div {
 margin:18px 0 0;
 font-weight:700
}
.hd_float2 span {
 margin:0 5px
}
.search_header {
 margin:11px 0
}
.hd_menu {
 top:3px
}
.hd_menu div {
 display:inline-block;
 background:#BECEEE;
 padding:5px 25px;
 font-weight:700;
 font-style:normal;
 border-top-right-radius:5px;
 border-top-left-radius:5px;
 font-size:13px;
 margin-right:2.5px
}
.hd_menu .sel {
 background:#DDD;
 height:18px
}
.hd_nav {
 background:#DDD;
 padding:6.8px 10px;
 margin:0 0 5px;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 -webkit-box-shadow:0 7px 0 -6px rgba(187,187,187,1);
 -moz-box-shadow:0 7px 0 -6px rgba(187,187,187,1);
 box-shadow:0 7px 0 -6px rgba(187,187,187,1)
}
.uws,
.videos_box {
 border-radius:5px
}
.hd_nav span {
 margin:0 6.5px
}
.main {
 margin-top:17px
}
.big_links {
 font-weight:700;
 font-size:16px;
 margin-bottom:30px;
 margin-top:23px
}
.big_links_seperator {
 display:inline-block;
 display:inline;
 margin:0 9px
}
.videos_box {
 width:79%;
 margin:0 auto 2px;
 background:#ccc;
 -moz-border-radius:5px;
 -webkit-border-radius:5px
}
.videos_box_conainer {
 padding:5px
}
.videos_box_head {
 font-size:14px;
 color:#444;
 font-weight:700;
 padding:1px 6px 5px
}
.videos_box_in {
 background-color:#DDD;
 background-image:url(/web/20180722182545im_/https://www.bitview.net/img/gradient.gif);
 background-position:left top;
 background-repeat:repeat-x;
 padding:5px 5px 15px
}
.thumb {
 border:5px solid #FFF;
 margin:5px 5px 2px
}
.videos_box_sct {
 display:inline-block;
 vertical-align:top;
 width:19.6%;
 margin:0 0 5px
}
.videos_info {
 font-size:10px;
 font-weight:400;
 color:#666;
 margin-bottom:3px
}
.c_title,
.highlight,
.page_title,
.profile_info,
.share_links,
.uws a,
.v_video_title {
 font-weight:700
}
.videos_box_title {
 font-size:11px;
 font-weight:700;
 margin-bottom:3px;
 display:block
}
.footer {
 font-size:11px;
 color:#111;
 margin:24px 0
}
.footer div {
 margin:12px 0 0
}
.highlight {
 font-size:14px;
 color:#333
}
.login_box {
 background-color:#e5ecf9;
 padding:5px 10px 10px;
 width:275px
}
#left,
#right {
 width:20px;
 height:14px;
 cursor:pointer;
 background-position-x:5px;
 background-repeat:no-repeat
}
.profile_info {
 font-size:12px;
 color:#D83;
 margin:10px 0 2px
}
#video_controls {
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;
 background:url('data:image/svg+xml; base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=');
 background:-moz-linear-gradient(top,#f4e8e8 0,#fff 65%,#fff 65%);
 background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f4e8e8),color-stop(65%,#fff),color-stop(65%,#fff));
 background:-webkit-linear-gradient(top,#f4e8e8 0,#fff 65%,#fff 65%);
 background:-o-linear-gradient(top,#f4e8e8 0,#fff 65%,#fff 65%);
 background:-ms-linear-gradient(top,#f4e8e8 0,#fff 65%,#fff 65%);
 background:linear-gradient(to bottom,#f4e8e8 0,#fff 65%,#fff 65%);
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e8e8', endColorstr='#ffffff', GradientType=0 );
 -webkit-box-shadow:0 .5px 5px .2px rgba(0,0,0,1);
 -moz-box-shadow:0 .5px 5px .2px rgba(0,0,0,1);
 box-shadow:0 .5px 5px .2px rgba(0,0,0,1);
 padding:1px
}
#left {
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 background-image:url(/web/20180722182545im_/https://www.bitview.net/img/ply0.png);
 background-size:10px 10px;
 background-position-y:2px
}
#mid,
#right {
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
#mid,
#midin {
 height:5px
}
#mid {
 background:#404040;
 -webkit-border-radius:3px;
 -moz-border-radius:3px;
 border-radius:3px;
 top:5px
}
#midin {
 width:0;
 background:#0097d6;
 transition:50ms width
}
#video_player {
 background:#000;
 margin:0 0 7px
}
#right {
 float:right;
 background-image:url(/web/20180722182545im_/https://www.bitview.net/img/vol1.png);
 background-size:9px 9px;
 background-position-y:2.7px
}
.share_links {
 margin:0 0 10px;
 font-size:13px
}
.watchDescription {
 font-size:12px;
 padding:10px 0 5px;
 color:#000;
 border-top:1px dotted #CCC
}
.c_title,
.comment {
 font-size:11px;
 border-bottom:1px dashed #999
}
.videocontainer {
 margin:0 auto;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 -webkit-user-drag:none;
 outline:0
}
.c_title {
 color:#333;
 background-color:#EEE;
 padding:5px 5px 6px;
 border-top:1px dashed #999
}
.comment {
 background-color:#FFC;
 padding:8px 0 3px
}
.comment .thumb {
 margin:0
}
.v_video_title {
 margin:3px 0 2px;
 font-size:14px;
 color:#333
}
.v_video_descr {
 font-size:12px;
 margin:3px 0 5px;
 color:#333;
 padding-right:10px
}
.page_title {
 padding:0 0 5px;
 border-bottom:1px dashed #CCC;
 margin-bottom:10px;
 font-size:14px;
 color:#C63
}
.moduleEntry,
.moduleTitleBar {
 border-bottom:1px dashed #999
}
.videos_range {
 float:right;
 font-size:12px;
 color:#444;
 top:1.5px
}
.signup,
.uws a {
 font-size:16px
}
.videos_selector {
 margin:0 0 13px
}
.videos_selector span {
 padding:0 7px
}
.h_l {
 float:left;
 width:590px;
 margin:0 15px 0 0
}
.h_r {
 float:left;
 width:185px
}
.uws {
 background:#e5ecf9;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 padding:10px
}
.contest_box,
.signup {
 text-align:center;
 border-radius:5px
}
.uws>div div {
 margin:5px 0 0
}
.uws>div {
 border-right:1px dashed #369;
 padding:0 10px 10px;
 color:#444;
 float:left;
 width:33%;
 box-sizing:border-box
}
.uws>div:first-of-type {
 padding-left:5px
}
.signup {
 font-weight:700;
 background:#feb;
 padding:13px 5px;
 margin:0 0 11px
}
.moduleEntryTitle,
.moduleTitle {
 font-size:14px;
 font-weight:700
}
.home_tags b {
 margin:0 0 7px;
 display:block
}
.home_tags a {
 display:inline-block;
 padding:1px 0
}
.contest_box {
 background-color:#FC9;
 padding:9px
}
.moduleTitleBar {
 width:100%;
 background-color:#CCC
}
.moduleEntry {
 background-color:#DDD;
 background-image:url(/web/20180722182545im_/https://www.bitview.net/img/gradient.gif);
 background-position:left top;
 background-repeat:repeat-x;
 padding:10px 0 10px 10px
}
.moduleEntryTitle {
 margin-bottom:2px;
 color:#333
}
.moduleTitle {
 margin:0 0 5px 5px;
 color:#444
}
.moduleEntryDescription {
 font-size:12px;
 margin-bottom:6px;
 color:#333;
 padding-right:10px
}
.moduleEntryTags {
 font-size:12px;
 margin-bottom:5px;
 color:#444
}
.moduleEntryDetails {
 font-size:11px;
 margin-bottom:5px;
 color:#444
}
.moduleFeaturedDetails {
 font-size:10px;
 font-weight:400;
 color:#666;
 margin-bottom:3px
}
.profileHeaders,
.profileTitles {
 font-family:Arial,Helvetica,sans-serif;
 font-size:12px
}
.small_box_header {
 font-weight:700;
 padding:3px;
 color:#757575;
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border:1px solid #ccc;
 background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
 background:-moz-linear-gradient(top,#eaeaea 1%,#fff 61%);
 background:-webkit-gradient(linear,left top,left bottom,color-stop(1%,#eaeaea),color-stop(61%,#fff));
 background:-webkit-linear-gradient(top,#eaeaea 1%,#fff 61%);
 background:-o-linear-gradient(top,#eaeaea 1%,#fff 61%);
 background:-ms-linear-gradient(top,#eaeaea 1%,#fff 61%);
 background:linear-gradient(to bottom,#eaeaea 1%,#fff 61%);
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff', GradientType=0 )
}
.small_box_in {
 border:1px solid #ccc;
 border-top:0;
 color:#535353;
 padding:9px 5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 background:#fff
}
.connectTable,
.userTable {
 border:1px solid #39C;
 width:315px
}
.profileHeaders {
 background-color:#39C;
 font-weight:700;
 color:#FFF;
 padding-bottom:3px;
 padding-top:3px
}
.userTable {
 background-color:#ECF4FB
}
tr.bulletinTitle td {
 padding-top:3px;
 padding-bottom:3px;
 border-bottom:1px solid #39C
}
td.bulletinTopFirstCells {
 border-right:1px solid #39C;
 border-bottom:none
}
tr.bulletin td {
 background-color:#ECF4FB;
 border-right:1px solid #FFF;
 border-bottom:1px solid #FFF;
 padding:3px
}
.profileTitles {
 font-weight:700;
 color:#69A6DC;
 padding-top:4px;
 padding-bottom:4px
}
a.edit:link,
a.edit:visited {
 color:#fff;
 text-decoration:underline
}
tr.rows td {
 padding-top:6px;
 padding-bottom:6px;
 padding-left:15px
}
.spaceMaker {
 padding-top:2px
}
.bulletinTable {
 width:315px;
 border:1px solid #39C
}
.aboutTable {
 width:515px;
 border:1px solid #39C
}
.videobarthumbnail_block {
 float:left;
 width:106.5px;
 padding:2px
}
img.videobarthumbnail_white {
 border:3px solid #DDD
}
td.bulletinRead,
td.bulletinReadRight,
tr.rowsLine td {
 border-bottom:1px solid #39C
}
td.bulletinRead,
td.bulletinReadBottom,
td.leftBg {
 border-right:1px solid #39C;
 background-color:#ECF4FB
}
.commentPostTable {
 width:515px;
 border:1px solid #39C
}
tr.connectRows td {
 padding-top:3px;
 padding-bottom:8px
}
tr.connectRowsTop td {
 padding-top:8px;
 padding-bottom:0
}
tr.rowsLine td {
 padding-top:6px;
 padding-bottom:6px;
 padding-left:15px
}
td.bulletinReadBottom {
 border-bottom:none
}
tr.commentsMsg td {
 padding-top:5px;
 padding-bottom:5px;
 border-top:1px solid #39C;
 background-color:#ECF4FB
}
.bulletinReadTable {
 width:560px;
 border:1px solid #39C
}
.commentsImg {
 width:60px;
 border:2px solid #39C
}
.aboutImg {
 border:2px solid #39C
}
#logoDiv {
 float:left
}
#taglineDiv {
 position:absolute;
 top:29.5px;
 left:136px;
 color:#898989;
 font-weight:700;
 font-size:15px
}
.videobarthumbnail_block2 {
 float:left;
 width:120px;
 padding:2px
}
#utilDiv {
 margin-left:136px;
 padding-bottom:6px;
 text-align:right
}
.utilDelim {
 padding-left:3px;
 padding-right:3px
}
#searchDiv {
 margin-top:6px;
 margin-bottom:4px;
 text-align:right
}
#globalNavDiv {
 clear:both
}
#searchField {
 width:280px;
 color:#0097d6;
 font-size:12px
}
.video_menu {
 float:left;
 width:175px
}
.video_menu>a {
 display:block;
 padding:4px;
 font-weight:700;
 font-size:13px
}