/* Common Elements */

.bodystyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.small {
	font-size: 10px;
}

.bold {
	font-weight: bold;
}

.highlight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333;
}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.nav_sub {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
}

.title_login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}

a.title:link {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 font-weight: bold;
 color: #cff;
 }

a.title:active {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 font-weight: bold;
 color: #cff;
 }

a.title:visited {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 font-weight: bold;
 color: #cff;
 }

a.title:hover {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 font-weight: bolder;
 color: #cff;
 }

.table_top {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #333;
}

.success {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333;
}

.error {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #f00;
}

.tableFavRemove {
	margin-top: 8px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 10px;

}

.tableVideoStats {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #ffc;
	background-image: url(/web/20070219123638im_/http://www.youtube.com/css/img/table_results_selected_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px dashed #cc6;
}

.tableSubTitle {
	padding: 0 0 5px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #c63;
	border-bottom: 1px dashed #ccc;
}

.brownSubTitle {
	font-size: 13px;
	font-weight: bold;
	color: #c63;
}

.SubTitle {
	font-size: 14px;
	font-weight: bold;
	color: #c63;
}

.tableSubTitleInfo {
	padding: 3px;
	padding-left: 10px;
	font-size: 12px;
}

/* Form Elements */

.formTitle {
	padding: 4px;
	padding-bottom: 5px;
	padding-left: 7px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #e5ecf9;
	border-bottom: 1px dashed #36c;
}

.formTable {
	width: 80%;
	padding: 5px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}

.formIntro {
	padding-left: 10px;
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
}

.formFieldInfo {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 11px;
	color: #555;
}



/* Page Elements */

.pageTitle {
	padding: 4px;
	padding-bottom: 5px;
	padding-left: 7px;
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #e5ecf9;
	border-bottom: 1px dashed #36c;
}

.pageTable {
	padding: 0 5px;
	margin-bottom: 20px;
}

.pageText {
	padding: 0 5px;
}

.pageIntro {
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}



/* Mail Elements */

.mailMessageArea {
	padding: 7px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	background-color: #fff;
	border: 1px dashed #999;
}



/* Watch Elements */

.watchTitleBar {
	background-color: #ccc;
	border-bottom: 1px dashed #999;
}

.watchTitle {
	margin-bottom: 6px;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333;

}

.watchTable {
	padding: 5px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #ddd;
	background-image: url(/web/20070219123638im_/http://www.youtube.com/css/img/table_results_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-bottom: 1px dashed #999;
}

.watchInfoArea {
	width: 395px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	text-align: left;
	background-color: #fff;
}

.watchDescription {
	padding: 10px 0 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	border-top: 1px dotted #ccc;
}

.watchTags {
	margin: 5px 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

.watchAdded {
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
}

.watchDetails {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333;
}

.commentsTitle {
	padding: 5px;
	padding-bottom: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	background-color: #eee;
	border-top: 1px dashed #999;
	border-bottom: 1px dashed #999;

}

.groupCommentsTitle {
	padding: 5px;
	padding-bottom: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	background-color: #eee;
}

.BoxedBorderTable {
	padding-left: 10px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.vertLeftDashTable {
	background-image: url(/web/20070219123638im_/http://www.youtube.com/css/img/long_grad_bg.jpg);
	background-repeat: repeat-x;
	background-repeat: repeat-y;
	border-left: 1px dashed #ccc;
}

.commentsEntry {
	padding: 10px;
	font-size: 11px;
	background-color: #ffc;
	border-bottom: 1px dashed #999;
}

.commentsThumb {
	margin-right: 5px;
	border: 5px solid #fff;
}

.profileLabel {
	margin: 10px 0 2px;
	font-size: 12px;
	font-weight: bold;
	color: #d83;
}


/* QuickList add icon */

#QLIcon {
	position: absolute;
	top: 66px;
	left: 1px;
	z-index: 2;
	width: 25px;
}

#QLIconRelated {
        position: absolute;
        top: 46px;
        left: 1px;
        z-index: 2;
	width: 25px;
}

#QLContainer {
	position: relative;
}

/* Code Elements */
.standoutLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

.brightLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

.SubscriptionTables {
	border: none;
}

.SubscriptionTables td {
	padding-top: 10px;
	padding-right: 1px;
	padding-bottom: 10px;
	padding-left: 1px;
	color: #666;
	text-align: center;
	border-bottom: 1px dashed #666;
}

.SubscriptionVideos {
	text-align: center;
	background-color: #fff;
}

.SubscriptionVideos td {
	border-bottom: none;
}

.parentSection {
	/*! background: #FFFFCC; */
}

.parentSection td {
	/*! font-size: 11px; */
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	margin-top: 1px;
	font-family: Arial, Helvetica, sans-serif;
}

.childrenSection {
	background: #fff;
	border-bottom: 1px dashed #ccc;
}

.childrenSection td {
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	margin-top: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.parentSection td {
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	margin-top: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-bottom: 1px dashed #ccc;

	/*! margin: none; */
}

.commentButtons td {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 0;
}

.commentsSpecifics {
	text-align: center;
}

.userStats {
	padding-top: 5px;
}

.devIndent {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 15px;
	margin-left: 15px;
}

.apiShadedBox {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color: #e5ecf9;
}

.apiDef {
	margin-left: 25px;
}

.apiHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #a00;
}



/* msolo remix */
.roundedTable {
margin: 0 auto 1em;
}

.sunkenTitle {
	margin: 0 0 5px 5px;
	font-size: 14px;
	font-weight: bold;
}

.sunkenTitleBar {
	width: 100%;
	border-bottom: 1px dashed #999;
}

.videobarthumbnail_block {
	float: left;
	width: 120px;
	padding: 1px;
}

img.videobarthumbnail_gray {
	border: 3px solid #fff;
}

img.videobarthumbnail_white {
	border: 3px solid #ddd;
}

.videotitlebarHeading {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 13px;
	color: #6d6d6d;
}

.videotitlebarComment {
	float: left;
	font-size: 10px;
	color: #999;
}

.videotitleBarLinkBlock {
	float: right;
	width: 173px;
}

.videotitlebarLink {
	width: 150px;
	text-align: right;
}

.tag_list {
	margin: 1em 0 0.5em;
	font-weight: bold;
	color: #333;
}

.tag_list p {
	padding-left: 0.5em;
	margin: 0 0 0.5em;
	font-weight: normal;
	color: #999;
}

.moduleEntry input {
	margin: 1em 0 0;
}


/*  Groups and Colleges  */
#groupHeaderBox {
	padding-bottom: 10px;
	margin-bottom: 10px;
	clear: both;
	border-bottom: 1px dashed #999;
	}

#groupMainContentWithLeftNav {
	width: 710px;
	height: 100%;
	margin-left: 165px;
	}


/*  New classes/IDs for Ches' visual redesign  */
#baseContainer {
	padding-top: 5px;
	padding-right: 25px;
	padding-left: 25px;
	}

#groupMainContent {
	width: 685px;
	height: 100%;
	}

.leadParaIndent {
	padding-right: 75px;
	padding-left: 75px;
	font-size: 13px;
	}

.fieldText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	}


/*
     FILE ARCHIVED ON 12:36:38 Feb 19, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:59:17 Mar 20, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

/*
playback timings (ms):
  exclusion.robots.policy: 0.328
  LoadShardBlock: 227.53 (3)
  captures_list: 311.242
  RedisCDXSource: 27.073
  CDXLines.iter: 23.653 (3)
  PetaboxLoader3.resolve: 78.853
  esindex: 0.021
  PetaboxLoader3.datanode: 227.784 (4)
  exclusion.robots: 0.349
  load_resource: 99.606
*/
