.page_title,
body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width: 870px !important;
    padding-top: 0;
    margin-top: 0;
    overflow-y: scroll;
    font-size: 12px;
    color: #222;
    background: #fff;
}

a {
    color: #03c;
}

a img {
    border: 0;
}

.videos_box_head,
.videos_box_in {
    overflow: hidden;
    border-bottom: 1px dashed #999;
}

textarea {
    resize: none;
}

.hd {
    padding: 7px 10px;
    margin-bottom: 2px;
    background: #d5e5f5;
    border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}

.hd_nav {
    padding: 0;
    margin: 0;
}

.hd_nav li,
.hd_nav2 li {
    display: inline-block;
    display: inline;
    margin-right: 4.5px;
    list-style: none;
}

.hd_under {
    text-align: right;
}

.big_links,
.footer,
.main,
.videos_box_sct {
    text-align: center;
}

.main {
    margin-top: 17px;
}

.slogan {
    margin: 11px 0 20px;
}

.search_box {
    padding: 3px;
    margin-bottom: 6px;
    font-size: 18px;
    color: #0097d6;
}

.big_links {
    margin-top: 23px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
}

.big_links_seperator {
    display: inline-block;
    display: inline;
    margin: 0 9px;
}

.home_tags {
    width: 70%;
    margin: 0 auto 30px;
    font-size: 13px;
    color: #333;
}

.videos_box {
    width: 79%;
    padding: 5px;
    margin: 0 auto 2px;
    background: #ccc;
    border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}

.videos_box_head {
    padding: 1px 6px 4px;
    font-size: 14px;
    font-weight: 700;
    color: #444;
}

.videos_box_in {
    padding: 5px 5px 15px;
    background-color: #ddd;
    background-image: url(/web/20171203210932im_/http://www.bitview.net/img/gradient.gif);
    background-repeat: repeat-x;
    background-position: left top;
}

.thumb {
    margin: 5px 5px 2px;
    border: 5px solid #fff;
}

.videos_box_sct {
    float: left;
    width: 20%;
}

.videos_info {
    margin-bottom: 3px;
    font-size: 10px;
    font-weight: 400;
    color: #666;
}

.videos_box_title {
    display: block;
    margin-bottom: 3px;
    font-size: 11px;
    font-weight: 700;
}

.footer {
    margin: 24px 0;
    font-size: 11px;
    color: #111;
}

.hd_under2 {
    position: relative;
    margin: 0 0 7px;
}

.hd_nav2 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.hd_under2_left {
    padding: 6px 0 0;
}

.hd_under2_left img {
    display: inline-block;
    display: inline;
    width: 126px;
    height: 50px;
    margin: 0 2px 0 3px;
    vertical-align: bottom;
}

#mid,
#midin {
    height: 4.5px;
}

.hd_under2_left .search_box {
    padding: 2px;
    margin: 0 0 0 3px;
    vertical-align: sub;
}

.hd_under2_left form {
    position: relative;
    bottom: 2px;
    display: inline-block;
    display: inline;
}

.hd_under2_right {
    position: absolute;
    right: 4.5px;
    bottom: 6px;
}

.hd_under2_seperator {
    display: inline-block;
    display: inline;
    margin: 0 5px;
    font-size: 13px;
    font-weight: 700;
}

.highlight,
.page_title {
    font-size: 14px;
    font-weight: 700;
}

.page_title {
    padding: 4px 4px 5px 7px;
    margin-bottom: 15px;
    background-color: #e5ecf9;
    border-bottom: 1px dashed #36c;
}

.highlight {
    color: #333;
}

.login_box {
    width: 275px;
    padding: 5px 10px 10px;
    margin-right: 10px;
	text-align: center;
    background-color: #d5e5f5;
    border: 6px double #fff;
}

#left,
#right {
    width: 20px;
    height: 14px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position-x: 5px;
}

.profile_info {
    margin: 10px 0 2px;
    font-size: 12px;
    font-weight: 700;
    color: #d83;
}

#video_controls {
    padding: 1px;
    overflow: hidden;
    background:
url(
data:image/svg+xml;
    base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=
);
    background: linear-gradient(top, #f4e8e8 0, #fff 65%, #fff 65%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f4e8e8), color-stop(65%, #fff), color-stop(65%, #fff));
    background: linear-gradient(top, #f4e8e8 0, #fff 65%, #fff 65%);
    background: linear-gradient(top, #f4e8e8 0, #fff 65%, #fff 65%);
    background: linear-gradient(top, #f4e8e8 0, #fff 65%, #fff 65%);
    background: linear-gradient(to bottom, #f4e8e8 0, #fff 65%, #fff 65%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f4e8e8', endColorstr='#ffffff', GradientType=0);
    border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0.5px 5px 0.2px rgba(0, 0, 0, 1);
    box-shadow: 0 0.5px 5px 0.2px rgba(0, 0, 0, 1);
    box-shadow: 0 0.5px 5px 0.2px rgba(0, 0, 0, 1);
}

#left {
    float: left;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    background-image: url(img/ply0.png);
    background-position-y: 2px;
    background-size: 10px 10px;
}

#mid,
#right {
    user-select: none;
    user-select: none;
    user-select: none;
}

#mid {
    position: relative;
    top: 5px;
    overflow: hidden;
    user-select: none;
    background: #404040;
    border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
}

#midin {
    width: 0;
    background: #0097d6;
    transition: 50ms width;
}

#video_player {
    margin: 0 0 7px;
    background: #000;
}

#right {
    float: right;
    user-select: none;
    background-image: url(img/vol1.png);
    background-position-y: 2.7px;
    background-size: 9px 9px;
}

.share_links {
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.videodescription {
    padding-bottom: 10px;
    font-size: 12px;
    color: #000;
    border-bottom: 1px dashed #ccc;
}

.c_title,
.comment {
    font-size: 11px;
    border-bottom: 1px dashed #999;
}

.videocontainer {
    margin: 0 auto;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    outline: 0;
}

.c_title {
    padding: 5px 5px 6px;
    font-weight: 700;
    color: #333;
    background-color: #eee;
    border-top: 1px dashed #999;
}

.comment {
    padding: 10px;
    background-color: #ffc;
}

.v_video_title {
    margin: 3px 0 2px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.v_video_descr {
    padding-right: 10px;
    margin: 3px 0 5px;
    font-size: 12px;
    color: #333;
}
