
#adLeaderboard {
	display: none;
	width: 875px;
	margin: 12px 0;
	text-align: center;
	}

#adFullBanner {
	display: none;
	margin: 12px 0;
	}

#adMediumRectangle {
	display: none;
	margin-top: 12px;
	margin-bottom: 12px;
	}

#adSquareRectangle {
	display: none;
	width: 250px;
	height: 250px;
	margin-top: 12px;
	margin-right: auto;
	margin-bottom: 12px;
	margin-left: auto;
	}

#adSkyscraper {
	display: none;
	float: left;
	width: 120px;
	background: #333;
	}

#watchTable {
	width: 100%;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	border-collapse: separate;
	}

#watchTable td {
	vertical-align: top;
	}

#interactDiv { width: 450px; }
#aboutExploreDiv { width: 265px; }
#sideAdDiv { width: 120px; }

#playerDiv { }

#actionsAndStatsDiv {
	position: relative;
	height: 110px;
	margin-top: 12px;
	margin-bottom: 12px;
	}

#ratingDivWrapper {
	float: left;
	width: 28%;
	}

#actionsDiv {
	float: left;
	width: 38%;
	}

#statsDiv {
	float: left;
	}

#ratingMessage { margin-bottom: 4px; }
#ratingCount { margin-top: 2px; }

#ratingLogin {
	width: 90px;
	margin-top: 12px;
	font-size: 11px;
	}

.ratingNote {
	width: 90px;
	margin: 4px 0;
	font-size: 11px;
	}

.actionRow { margin-bottom: 6px; }
.statRow { margin-bottom: 6px; }
#linksToLabel { float: left; }

#linksToValue {
 padding-top: 4px;
 margin-left: 55px;
 }

#honorsDiv {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 430px;
	}

#linkstoDiv {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 430px;
	}

#addFavsDiv {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 430px;
	overflow: auto;
	}

#addPlaylistsDiv {
	padding-top: 8px;
	margin-top: 8px;
	border-top: 1px dashed #666;
	}

#addGroupsDiv {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 430px;
	height: 250px;
	overflow: auto;
	}

#inappropriateVidDiv {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 430px;
	}

#blogVidDiv {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 430px;
	}

#embedVidDiv {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 430px;
	}

#embedTextarea {
	width: 400px;
	height: 100px;
	}
.gpEntry { margin: 0 0 6px 8px; }

#commentsDiv { clear: both; }

#commentsDiv table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	border-collapse: separate;
}
.commentHeading { margin: 24px 0 0; }

.commentEntry {
	margin: 6px 0 16px;
	clear: both;
	}

.commentEntryReply {
	margin: 6px 0 16px 40px;
	}

.commentHead {
	padding: 4px;
	margin-left: 0;
	background-color: #eee;
	}

.commentBody {
	margin-top: 4px;
	margin-left: 4px;
	}

.commentAction {
	margin-top: 0;
	text-align: right;
	}

#commentTextarea {
	width: 400px;
	height: 80px;
	}
#commentSubmit { margin-top: 4px; }

#commentTopAction {
	margin: -8px 0 10px;
	text-align: right;
	}

#videoResponseDiv { /* margin-top: 5px; */ }

#aboutVidDiv { margin-bottom: 12px; }
#userStatsDiv { margin-left: 18px; }

#aboutDirectorTable {
	width: 100%;
	padding: 0;
	margin: 3px 0 0;
	border-spacing: 0;
	border-collapse: separate;
	}
#aboutDirectorTable td { vertical-align: top; }
#aboutDirectorTable .img { padding-right: 6px; }
#uploaderInfo { margin-bottom: 12px; }
#directorLogo { margin-top: 4px; }
.dvnvp { margin: 1px 0; }
#mobileNote { margin-top: 2px; }
#vidNameDescDiv { }
#vidDescBegin { display: inline; }
#vidDescRemain { display: none; }
#vidDescMore { display: inline; }
#vidDescLess { display: none; }
#vidTagsWrapper { margin: 12px 0; }
#vidTagsLabel { float: left; }
#vidTagsDiv { margin-left: 38px; }
#vidTagsBegin { display: inline; }
#vidTagsRemain { display: none; }
#vidTagsMore { display: inline; }
#vidTagsLess { display: none; }
#vidURLDiv {}

#vidURLTable {
	width: 100%;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	border-collapse: separate;
	}
#vidURLTable td { vertical-align: middle; }

.vidURLField {
	width: 194px;
	font-size: 10px;
	}

#subscribeDiv {
	padding-top: 6px;
	margin-top: 5px;
	border-top: 1px dashed #ccc;
	}

.subButton {
	float: left;
	padding-right: 5px;
	font-weight: bold;
	}

.subButton a {
	display: block;
	padding: 0 3px;
	color: #000;
	text-decoration: none;
	border-style: outset;
	border-width: 2px;
	}
.subButton a:link { background: #ffc; }
.subButton a:hover { background: #ff9; }
.subText { padding-top: 2px; }

#exploreDiv {
	height: 480px;
	}

.exploreContent {
	height: 410px;

	/* width: 251px; */
	overflow: auto;
	}

#exploreDiv a.selectedNavLink {
	font-weight: bold;
	color: #000;
	text-decoration: none;
	}

#exploreDiv a.unSelectedNavLink {
	font-weight: normal;
	color: #03c;
	text-decoration: none;
	border-bottom: 1px dotted #03c;
	}

#exSubNavTable {
	width: 100%;
	padding: 0;
	margin: 4px 0 8px;
	border-spacing: 0;
	}

#exContentWrapper { background: #eee; }
#exRelatedDiv { background: #eee; }
#exUserDiv { background: #eee; }
#exPlaylistDiv { background: #eee; }

#plList {
	margin-top: 4px;
	line-height: 18px;
	}

.showingTable {
	width: 100%;
	padding: 3px;
	margin: 0;
	border-spacing: 0;
	border-collapse: separate;
	background-color: #ccc;
	}

.vWatchEntry { margin: 6px 0 2px; }

.vWatchEntry table {
	padding: 0;
	margin: 0 4px;
	border-spacing: 0;
	border-collapse: separate;
	}
.vWatchEntry td { vertical-align: top; }
.vWatchEntry .img { padding-right: 6px; }
.vWatchEntry .title { font-size: 12px; }

.vWatchEntry .facets {
	margin-top: 2px;
	font-size: 11px;
	}

.vNowPlaying {
	padding: 2px 0;
	background: #ffc;
	}

#dVidsDiv {
	/* background: #DEF; */

	/* border: 1px solid #CCC; */
	padding-bottom: 2px;
	margin-bottom: 24px;
	}

#dVidsDiv .heading {
	padding: 3px;
	margin-bottom: 6px;
	font-weight: bold;
	color: #999;
	text-align: center;
	}

#dVidsDiv .vimgMd {
	width: 90px;
	height: 70px;
	border: 1px solid #ccc;
	}

.dvidEntry {
	width: 90px;
	margin-right: auto;
	margin-bottom: 12px;
	margin-left: auto;
	}
.dvidEntry .img { margin-bottom: 2px; }
.dvidEntry .title { font-size: 11px; }
.dvidEntry .facets { font-size: 11px; }

.betaCallout {
	padding: 6px;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
	font-weight: bold;
	background: #ffc;
	border: 1px solid #fc3;
	}

/*
     FILE ARCHIVED ON 21:54:20 Jun 22, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:56:14 Mar 30, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

/*
playback timings (ms):
  exclusion.robots: 0.231
  LoadShardBlock: 230.06 (3)
  exclusion.robots.policy: 0.216
  captures_list: 314.841
  load_resource: 78.962
  CDXLines.iter: 36.991 (3)
  PetaboxLoader3.resolve: 53.338
  RedisCDXSource: 7.159
  esindex: 36.383
  PetaboxLoader3.datanode: 227.499 (4)
*/
